.header {
    display:flex;
    justify-content: space-around;
    width: 100%;
    min-height: 4rem;
    padding-top: 4rem;
    
}

.text {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.topBar {
    display:flex;
    margin-right: 1rem;
}

.logoText {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}

.img {
    margin-top: 0.1rem;
}

.qrCode {
    display: flex;
    justify-content:center;
    margin: 1rem;
}

.skeleton {
    display:flex;
    justify-content: space-between;
}

.skeletonText {
    margin-top: 1rem;
    margin-left: 0.5rem;
}

@media only screen and (max-width: 1000px) {
    .header {
        display: inline-flex;
        justify-content: center;
    }
  }
